<% include ../partials/cess %>
<head>
<title> Ceramicas Royal | Clientes </title>
</head>

<body>

    <!--sidebar start-->
    <% include ../partials/menu %>
    <!--sidebar end-->

<section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> Consulta de facturas</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index">Menu</a></li>
              <li><i class="icon_document_alt"></i>Clientes</li>
              <li><i class="fa fa-file-text-o"></i>Buscar factura</li>
            </ol>
          </div>
        </div>
        <!-- Form validations -->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Informacion factura
              </header>
              <div class="panel-body">
                <div class="form">
                  <form class="form-horizontal " method="get">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Numero de factura</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Rif Cliente</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  
                  <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                        
                        <button class="btn btn-default" type="button">Limpiar</button>
                      </div>
                    </div>
                </form>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </section>



<% include ../partials/scripts %>
</body>