<% include ../partials/cess %>
<head>
<title> Ceramicas Royal | Clientes </title>
</head>

<body>

    <!--sidebar start-->
    <% include ../partials/menu %>
    <!--sidebar end-->

<!-- main content start-->
<section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> Registro de factura</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Menu</a></li>
              <li><i class="icon_document_alt"></i>Clientes</li>
              <li><i class="fa fa-file-text-o"></i>Factura</li>
            </ol>
          </div>
        </div>
      </section>
    </section>

<!-- main content end -->


    <!-- scripts -->

    <% include ../partials/scripts %>
</body>